graft docs
graft src
graft ci
graft tests

{% if cookiecutter._appveyor == 'yes' -%}
include .appveyor.yml
{% endif -%}
{% if cookiecutter._version_manager == 'bump2version' -%}
include .bumpversion.cfg
{% endif -%}
include .cookiecutterrc
include .coveragerc
include .editorconfig
{% if cookiecutter._github_actions == 'yes' -%}
include .github/workflows/github-actions.yml
{% endif -%}
{% if cookiecutter._pre_commit == "yes" -%}
include .pre-commit-config.yaml
{% endif -%}
{% if cookiecutter._sphinx_docs == 'yes' and 'readthedocs' in cookiecutter._sphinx_docs_hosting -%}
include .readthedocs.yml
{% endif -%}
{% if cookiecutter._travis == 'yes' -%}
include .travis.yml
{% endif -%}
{% if cookiecutter._c_extension_support == 'cffi' or cookiecutter._setup_py_uses_setuptools_scm == 'yes' -%}
include pyproject.toml
{% endif -%}
include pytest.ini
{% if cookiecutter._version_manager == 'tbump' -%}
include tbump.toml
{% endif -%}
include tox.ini

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

global-exclude *.py[cod] __pycache__/* *.so *.dylib
